<header class="header">
    <div class="header-content">
        <h1 class="header-title">{{ title }}</h1>
        <div class="header-meta">
            <span class="company">{{ company }}</span>
            <span class="date">{{ date }}</span>
        </div>
    </div>
    <div class="header-decoration"></div>
</header>